<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>
<body>
  @loggedIn
    {{ auth.user.username }}
    <form action="/logout" method="post">
      {{ csrfField() }}
      <button type="submit">logout</button>
    </form>
  @else
    <a href="/login">Login</a>
    -
    <a href="/register">Register</a>
  @endloggedIn
  <nav>
    <ul id="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </nav>
  <main>
    @!section('content')
  </main>
</body>
</html>
